{{#mdl-nav mobileTitle='Loan Pricing' fixedDrawer=true fixedHeader=true closeDrawerOnItemClick=true}}
{{mdl-nav-item name='Application'   route='mainform' inHeader=false}}
{{mdl-nav-item name='Rates'   route='rates' inHeader=false}}
    <div>
      {{outlet}}
    </div>
{{/mdl-nav}}
